:root {
        --blue-800: #040F1A;
        --blue-700: #071422;
        --blue-500: #0B1B2B;
        --blue-400: #112131;
        --blue-300: #1C2F41;
        --blue-200: #3A536B;
        --blue-100: #7B96B2;


        --blue: #3294F8;

        --white: #E7EDF4;

        --grey-200: #C4D4E3;
        --grey-300: #AFC2D4;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--blue-500);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200vh;

    background: var(--blue-700);
    -webkit-font-smoothing: antialiased;
    
}

body, input, textarea, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header {
    width: 100%;
    height: 30vh;
    background: var(--blue-400);
    display: flex;
    justify-content: center;
}

.header > img {
    width: 120px;
    height: 120px;
    margin-top: 15px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -70px;
    border: 2px solid var(--blue-500);
    border-radius: 8px;
    background: var(--blue-500);
    width: 50vw;
    height: 25vh;
}

.data {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 50vw;
    height: auto;
}


.data > img {
    width: 130px;
    height: 130px;
    border-radius: 8px;
    object-fit: cover;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name > h1 {
    font-size: 20px;
    color: var(--grey-200);
}

.name > p {
    color: var(--grey-200);
}

aside {
    display: flex;
    margin-top: 30px;
    font-size: 14px;
    gap: 20px;
}

aside > div {
    display: flex;
    gap: 10px;
}

aside > div > span {
    color: var(--grey-200);
}


input {
    width: 50vw;
    height: 35px;
    margin-top: 10px;
    background: var(--blue-800);
    border-radius: 5px;
    border: 1px solid var(--blue-300);
    color: var(--grey-200);
    cursor: text;
    padding-left: 10px;
}

.text-input {
    width: 50vw;
}

input::placeholder {
    color: var(--blue-200);
    font-size: 14px;
}

.filter {
    display: flex;
    justify-content: space-between;
    color: var(--grey-200);
    margin-top: 50px;
    width: 50vw;
}

.posts-line-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    gap: 15px;
    width: 50vw;
    margin-top: 50px;
    color: var(--grey-300);
}

.posts-line-1 > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
    background: var(--blue-400);
    border-radius: 8px;
}

.posts-line-1 > div > h1 {
    font-size: 20px;
    color: var(--grey-200);
}

.posts-line-1 > div > p {
    text-align: justify;
}

/* .posts-line-2 {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    gap: 15px;
    width: 50vw;
    margin-top: 20px;
    color: var(--grey-300);
}

.posts-line-2 > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
    background: var(--blue-400);
    border-radius: 8px;
}

.posts-line-2 > div > h1 {
    font-size: 20px;
    color: var(--grey-200);
}

.posts-line-2 > div > p {
    text-align: justify;
}

.posts-line-3 {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    gap: 15px;
    width: 50vw;
    margin-top: 20px;
    color: var(--grey-300);
}

.posts-line-3 > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
    background: var(--blue-400);
    border-radius: 8px;
}

.posts-line-3 > div > h1 {
    font-size: 20px;
    color: var(--grey-200);
}

.posts-line-3 > div > p {
    text-align: justify;
} */