:root {
        --blue-800: #040F1A;
        --blue-700: #071422;
        --blue-500: #0B1B2B;
        --blue-400: #112131;
        --blue-300: #1C2F41;
        --blue-200: #3A536B;
        --blue-100: #7B96B2;


        --blue: #3294F8;

        --white: #E7EDF4;

        --grey-200: #C4D4E3;
        --grey-300: #AFC2D4;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--blue-500);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200vh;
    background: var(--blue-700);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header {
    width: 100%;
    height: 30vh;
    background: var(--blue-400);
    display: flex;
    justify-content: center;
}

.header > img {
    width: 120px;
    height: 120px;
    margin-top: 15px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 40px;
    margin-top: -60px;
    border: none;
    border-radius: 10px;
    background: var(--blue-500);
    width: 100%;
    max-width: 860px;
    min-height: 180px;
    position: relative;
    box-shadow: 0 2px 28px rgba(0,0,0,0.2);
}

.personal-info > span {
    position: absolute;
    top: 32px;
    right: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.personal-info > span > a {
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
    letter-spacing: 1px;
}
.data {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: auto;
    position: static;
}


.data > img {
    width: 148px;
    height: 148px;
    border-radius: 8px;
    object-fit: cover;
    position: static;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name > h1 {
    font-size: 24px;
    color: var(--white);
    font-weight: 700;
}

.name > p {
    color: var(--grey-200);
    font-size: 16px;
    margin-bottom: 16px;
}

aside {
    display: flex;
    gap: 24px;
    margin-top: 16px;
    font-size: 16px;
}

aside > div {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--grey-200);
}

aside > div > span {
    color: var(--grey-200);
}


input {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    background: var(--blue-800);
    border-radius: 5px;
    border: 1px solid var(--blue-300);
    color: var(--grey-200);
    cursor: text;
    padding-left: 10px;
}

input:focus {
    border: 1px solid var(--blue);
}

.text-input {
    width: 100%;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.text-input input {
    width: 100%;
    box-sizing: border-box;
}

input::placeholder {
    color: var(--blue-200);
    font-size: 14px;
}

.filter {
    display: flex;
    justify-content: space-between;
    color: var(--grey-200);
    margin-top: 50px;
    width: 100%;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.posts-line-1 {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: var(--grey-300);
}

.posts-line-1 > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px;
    background: var(--blue-400);
    border-radius: 8px;
    position: relative;
}

.posts-line-1 > div:focus {
    border: 1px solid var(--blue-300);
}

.posts-line-1 > div:hover {
    background: var(--blue-300);
    transition: 0.5s;
    border: 1px solid var(--blue-300);
}

.posts-line-1 > div > h1 {
    font-size: 18px;
    color: var(--grey-200);
    padding-right: 60px;
    align-items: right;
}

.posts-line-1 > div > p {
    text-align: justify;
}

.posts-line-1 > div > span {
    position: absolute;
    top: 20px;
    right: 15px;
}


/* .posts-line-2 {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    gap: 15px;
    width: 50vw;
    margin-top: 20px;
    color: var(--grey-300);
}

.posts-line-2 > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
    background: var(--blue-400);
    border-radius: 8px;
}

.posts-line-2 > div > h1 {
    font-size: 20px;
    color: var(--grey-200);
}

.posts-line-2 > div > p {
    text-align: justify;
}

.posts-line-3 {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    gap: 15px;
    width: 50vw;
    margin-top: 20px;
    color: var(--grey-300);
}

.posts-line-3 > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
    background: var(--blue-400);
    border-radius: 8px;
}

.posts-line-3 > div > h1 {
    font-size: 20px;
    color: var(--grey-200);
}

.posts-line-3 > div > p {
    text-align: justify;
} */